* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


button{
    border:none;
    
    background-color:transparent;
}

button:hover{
    cursor:pointer;
}

body{
    background: rgb(250, 250, 250);
}

html{
    height: 100%;
}
/*  CONTAINER ONDE FICA TUDO */
#container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
}

/*  PAGINA DE LOGIN */
#loginForm{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    flex: 0;
    padding: 20px 20px 30px 20px;
    border: 1px solid #3B839A;
}

#loginForm .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px;
}

#loginForm .fields input{
    padding: 10px;
    margin: 5px;
    width: 262px;
    border: 1px solid #80E3BE;
    border-bottom: 1px solid #3B839A;
    
}

#loginForm .fields input::placeholder{
    color: #FF474A;
}

#loginForm h2{
    text-align: center;
    font-size: 35px;
    padding: 0 0 40px 0;
    color: #FF474A;
    letter-spacing: 2px;
    font-weight: lighter;
}

#loginForm span{
    text-align: end;
    margin: 5px;
    color: black;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

#loginForm button {
    padding: 15px;
    font-size: 16px;
    width: 115px;
}

#loginForm button:hover {
    cursor: pointer;
}

#loginForm .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loginForm .options .checkElements{
    margin: 5px;
}

#loginForm .options label{
    font-size: 15px;
}

#loginForm p{
    margin-left: 5px;
    color: rgb(0, 0, 0);
    visibility: hidden;
}

#loginForm #registerBtn{
    background-color: #DDFCCE;
    border: 1px solid white;
    color: #3B839A;
    transition: background-color 0.3s ease;
}

#loginForm #registerBtn:hover{
    background-color: #3B839A;
    border: 1px solid #DDFCCE;
    color: #DDFCCE;
}

#loginForm #loginBtn{
    color: #DDFCCE;
    border: 1px solid white;
    background-color: #3B839A;
    transition: background-color 0.3s ease;
}

#loginForm #loginBtn:hover{
    background-color: #DDFCCE;
    border: 1px solid #3B839A;
    color: #3B839A;
}

/*  PAGINA DE REGISTRO */
#registerForm{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    flex: 0;
    padding: 20px 20px 30px 20px;
    border: 1px solid #3B839A;
}

#registerForm .buttons{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px;
}

#registerForm .fields input{
    padding: 10px;
    margin: 5px;
    width: 262px;
    border: 1px solid #80E3BE;
    border-bottom: 1px solid #3B839A;
    
}

#registerForm .fields input::placeholder{
    color: #FF474A;
}

#registerForm h2{
    text-align: center;
    font-size: 35px;
    padding: 0 0 40px 0;
    color: #FF474A;
    letter-spacing: 2px;
    font-weight: lighter;
}

#registerForm a{
    text-align: end;
    margin: 5px;
    color: black;
    font-size: 13px;
}

#registerForm button {
    padding: 15px;
    font-size: 16px;
    width: 115px;
}

#registerForm button:hover {
    cursor: pointer;
}

#registerForm .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#registerForm .options .checkElements{
    margin: 5px;
}

#registerForm .options label{
    font-size: 15px;
}

#registerForm p{
    margin-left: 5px;
    color: rgb(0, 0, 0);
    visibility: hidden;
}

#registerForm #registerBtn{
    background-color: #DDFCCE;
    border: 1px solid white;
    color: #3B839A;
    transition: background-color 0.3s ease;
}

#registerForm #registerBtn:hover{
    background-color: #3B839A;
    border: 1px solid #DDFCCE;
    color: #DDFCCE;
}

/* VIEW LOGADO */

.dashBoard{
    margin-top:10px;
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "m m .";

}

.dashBoard main{
    grid-area:m;
    display:flex;
    flex-direction: row;
}

.dashBoard .content{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashBoard header button{
    background: none;
    border-width: 0;
}
/*      Header      */
#guestHeader, #loggedInHeader{
    width: 100%;
    min-width: 100px;
    display:flex;
    flex-direction: row;
    color: white;
    background-color:#30b4ba;
    height: 50px;
}
.ajude{
    margin: auto;
    font-size:30px;
    color:white;
}

.headerButtons{
    display:flex;
    flex-direction: row-reverse;
    margin-left: auto;
    width: 20%;
}
.headerButtons button{
    margin: 5px;

}

.headerButtons button i{
    font-size: 40px;
    color:white;
}

.headerButtons button{
    font-size:20px;
}
/*MAIN CONTENT*/


/*MENU*/
#menu{
    width: 250px;
    margin: 0 10px;
    padding:4px;
    border-radius: 10px;
    height: min-content;
    display: flex; 
    flex-direction: column;
    background-color: #3B839A;
}

#menu div{
    display: flex;
    flex-direction: row;
    justify-items: center;
    color:white;
}
#backendQuery{
    height: 24px;
}

/*                      FEED                        */
#feed{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#feedGoToCreateCampaign{
    margin:10px 0;
}

#feedGoToCreateCampaign div{
    height: 30px;
    background-color: #3B839A;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#feedGoToCreateCampaign div p{
    color:white;
    font-size:20px;
}

.localFilters{
    display:flex;
    flex-direction: row;
    background-color: #30b4ba;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    height:50px;
}

.localFilters input{
    margin-left: 10px;
    width: 40%;
}

.localQueryButtons{
    color:white;
    width: 350px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.localQueryButtons div{
    margin-left:10px;
}
.localQueryButtons button{
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}

.activeOption{
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: indigo;
    padding-bottom: 0 !important;
}

/*CAMPAIGN IN LISTING*/

.campaign{
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color:#30b4ba;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    height: 250px;
    justify-content: space-between;
}

.campaignHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#30b4ba;
    color:white;
}

.campaignFooter{
    display: flex;
    flex-direction: row;
}

.campaignDescription{
    text-align: center;
}

.progress p{
    text-align: center;
}

.campaignFooter button i{
    background: none;
    border:none;
    color:#30b4ba;
}

.campaignFooter div{
    margin-left: auto;
    width: 30%;
    background-color: #3B839A;
    text-align: center;
    text-justify: center;
}

.campaignFooter{
    align-items: center;
}

.campaignFooter div a{
    text-decoration: none;
    margin: auto;
    color: white;;
}

.visitCampaignButton{
    color:white;
    margin-left: auto;
    width: 25%;
    height: 40px;
    background-color: #3B839A;
    text-align: center;
    text-justify: center;
}


.visitCampaignButton div{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.visitCampaignButton div:hover{
    background-color: #30b4ba !important;
}

.visitCampaignButton div p{
    height: min-content;
    font-size:25px;
}

.progress{
    margin: 0 auto;
    width: 85%;
    background-color: #c4c4c4;
}

.progress div{
    background-color:#30b4ba;
    text-align: center;
}

.orderButton i{
    font-size:60px;
    color:#30b4ba;
}

#menu p{
    text-align: center;
}

/*                            FEED END                                       */

/*                            VIEW CAMPAIGN BEGGIN                                       */

#campaignView {
    background: #F0F0F0;
    width: 60%;
    color: white;
    margin-top: 20px;
}

#campaignView .viewHeader{
    background: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#campaignView h2{
    display: inline;
    font-weight: normal;
}

#campaignView h4{
    display: inline;
    background: #3B839A;
    padding: 0 8px;
    font-weight: normal;
}

#campaignView .viewDescription{
    padding: 10px;
}

#campaignView .goalLikes, .goalCreate{
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#campaignView .description{
    background: #30B4BA;
    padding: 15px;
}

#campaignView .progressView, .metaCreate{
    width: 35%;
    background-color: #30b4ba;
}

#campaignView .progressView div{
    background-color:#3B839A;
    text-align: center;
    padding: 5px;
    max-width: 100%;
}

#campaignView .goal{
    margin-left: 10px;
}

#campaignView .likesDeslikes{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    color: #3B839A;
}

#campaignView .likesDeslikes button, #campaignView .likesDeslikes p{
    display: inline;
}

#headerCampaign{
    background: #30B4BA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
}


#campaignView .commentaryBox{
    padding: 0 10px 10px 10px ;
}

#campaignView .comentaries{
    background: #666666;
    padding: 0 10px 10px 10px;
}

#campaignView .newCommentBTN{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

#campaignView .newCommentBTN button{
    padding: 5px;
    font-size: 15px;
    background: #3B839A;
    color: white;
}

#campaignView .newCommentMAIN{
    display: none;
    flex-direction: column;
}

#campaignView .newCommentMAIN span{
    color: black;
    font-size: 15px;
}

#campaignView .newCommentMAIN textarea{
    border: 1px solid #666666;
    font-size: 15px;
    border: none;
    padding: 10px;
}

#campaignView .newCommentMAIN .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    background: none;
}

#campaignView .newCommentMAIN button{
    background: #3B839A;
    padding: 8px;
    color: white;
}

#campaignView .owner{
    color: black;
}

#campaignView .campaignBTNs{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#campaignView .campaignBTNs button{
    background: #3B839A;
    padding: 15px;
    color: white;
}

#campaignView .campaignBTNs button:hover{
    background: #30B4BA;
    padding: 15px;
    color: white;
}


#campaignView .modal-container{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

#campaignView .modal-container.show{
    display: flex;
}

@keyframes modal{
    form {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show .modal{
    animation: modal .4s;
}

#campaignView .modal{
    background: #3B839A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid white;
}

#campaignView .modal h3{
    padding: 5px;
    font-weight: normal;
}

#campaignView .modal .closeModal{
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px;
    background: #30B4BA;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 1.2em;
}

#campaignView .modal .closeModal:hover{
    background: rgb(102, 167, 189);
}

#campaignView .modal .button{
    padding: 5px;
    color: white;
    background: #30B4BA;
    margin-top: 5px;
}

#campaignView .modal input{
    padding: 5px;
}

#ownerEmail{
    cursor: pointer;
}

/*                            VIEW CAMPAIGN END                                       */

/*                            CREATE COMMENTARY BEGGIN                                       */
.commentary .textBox{
    background: #E9E9E9;
    color: black;
    padding: 5px;
}

.commentary .textBox p{
    background: white;
    padding: 5px;
}

.commentary{
    display: flex;
    flex-direction: column;
}

.commentary .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: white;
}

.commentary .buttons button{
    background: #3B839A;
    padding: 8px;
    color: white;
}

/*CREATE CAMPAIGN STUFF*/

#displayError p{
    color:red;
    text-align: center;
}



.metaCreate p{
    text-align: center;
    width: 100%;
}

.commentary .buttons button:hover{
    background: #30B4BA;
    padding: 8px;
    color: white;
}

.commentary .buttons #delComment{
    display: none;
}

.commentary h5{
    padding: 5px 0;
}

.goalCreate{
    align-items: initial;
}


.metaCreate{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.newComment {
    display: none;
    flex-direction: column;
}

.newComment textarea{
    border: none;
    padding: 10px;
}


.newComment .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    background: none;
}

.newComment button{
    background: #3B839A;
    padding: 8px;
    color: white;
}

/*                            CREATE COMMENTARY END                                       */

/*                            SHOW ANSWERS BEGGIN                                       */

.answers{
    flex-direction: column;
    background: #d9d9d9;
    padding: 7px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.answers h5{
    color: black;
}

.answers p {
    background: #666666;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.answers .delAnswer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.answers .delAnswer button{
    padding: 3px;
    color: black;
    background: #C58282;
    border: 1px solid #860101;
    margin: 2px;
    border-radius: 2px;
}

.answers .delAnswer button:hover{
    background: rgb(255, 72, 72);
    border: 1px solid #c20101;
}

#submitCampanha i{
    font-size: 50px;
    color:#3B839A;
}

#createDescription{
    width: 80%;

}

.hidden{
    visibility: hidden;
    height: 0 !important;
}